.card{
  background-color: #8f2345;
  color:white
}
.card img{
  width:23.5rem;
  height:15rem;
  overflow: hidden;
}

.card:hover{
  /* scale: calc(1.2); */
  /* transition: step-start; */
  transform: scale(1.05);
}