body{
  background: #090D10;
  color: white;
}

.smoky-wrapper {
  position: relative;
  overflow: hidden;
}

.smoky-img {
  width: 100%;
  height: auto;
  filter: blur(4px);
  transform: scale(1.1); /* prevents edge clipping */
}

.smoky-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.85)
  );
  z-index: 2;
}



/* hero text */
.hero {
  position: relative;
  height: 100vh; /* full screen hero */
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  inset: 0;
  z-index: 3;
  /* align-items: center; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 1rem;
}

.hero-content h1 {
  font-size: 7em;
  font-weight: 600;
}

.transparentBorder{
  border: 2px solid #962545;
}

.scroll-row {
  scrollbar-width: none; /* Firefox */
}

.scroll-row::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.service-card {
  padding:1rem 0;
  width: 245px;
  height: 300px;
  border-radius: 16px;
  background: #962545; /* dark green like your image */
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.25s ease;
  display: flex;
  justify-content: space-around;
}

.service-card:hover {
  transform: translateY(-2px);
}


.search{
  outline: none;
  border: none;
}


